.card {
  --shadow-color: rgba(0, 0, 0, 0.1);
  --shadow: 0 1px 3px 0 var(--shadow-color, rgba(0, 0, 0, 0.1)),
    0 1px 2px -1px var(--shadow-color, rgba(0, 0, 0, 0.1));
  border-radius: 0.25rem;
  border-width: 1px;
  box-shadow: var(--shadow);
  display: block;
  padding: 1.5rem;
  transition-duration: 0.15s;
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  width: 100%;
  cursor: pointer;
}

.card:hover {
  --shadow: 0 10px 15px -3px var(--shadow-color, rgba(0, 0, 0, 0.1)),
    0 4px 6px -4px var(--shadow-color, rgba(0, 0, 0, 0.1));
}

[data-theme="dark"] .card {
  --shadow-color: rgba(255, 255, 255, 0.1);
}

.card a:hover {
  text-decoration: unset;
}

.card p {
  color: var(--ifm-font-color-base);
}
